

@import './particles/variable';
@import './particles/mixins';
@import './particles/reset'; 
body{
    display: flex;
    justify-content: space-between;
}
*{
    box-sizing: border-box;
}
.router-link-exact-active span,
.router-link-active span{ //.router-link-active 指定
    color: #f03d37;
}