

@import './particles/variable';
@import './particles/mixins';
@import './particles/reset'; 
*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-between;
}
html,body,main,#app{
    height: 100%;
}
.app-outerBox{
    height: 100%;
    display: flex;
    flex-direction: column;
}

